

 

<div class="container">
   <% @topics.each do |topic|%>

    <div class = "row justify-content-center">

    <div class = "col-6">
      <div class="card">
        <div class="card-header">
          <a href="liteboard/topics/<%=encode(topic[0])%>?res=<%=@res%>"><%=topic[0]%></a>
        </div>
        <div class="card-body">
          <div class="container">
            <div class= "row">
              <div class= "col">
                <h1><%=topic[3]%> <span class="fs-4">events</span></h1>
              </div>
              <div class= "col">
                <span class="inlineminicolumn hidden" data-label="Count"><%=Oj.dump(topic[4].unshift(['Time', 'Count'])) if topic[4]%></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class = "row">
  &nbsp;<br/>
  </div>

  
  <%end%>
  <% if @topics.empty? %>
    <div class = "row justify-content-center">

    <div class = "col-6">
      <div class="card">
        <div class="card-header">
          Topics
        </div>
        <div class="card-body justify-content-center">
          No data to display
        </div>
      </div>
    </div>

  </div>
  <%end%>
</div>
